* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: #1d1b24;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculadora {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: 120px repeat(5, 65px);
    background-color: #393646;
    padding: 15px;
    border-radius: 30px;
}

#vista-de-nums {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: end;
    padding: 15px;
    margin: 10px 6px 20px 6px;
    background-color: #1d1b24;
    border-radius: 20px;
    text-align: right;
    height: 80px;
    overflow: hidden;
}

#pantalla {
    font-size: 40px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    background-color: #4F4557;
}

button:active {
    background-color: #2c2731;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}